html {
  --lightBlue: #79bda2;
  --darkerBlue: #1a8692;
  --dark: #061f21;
  --rose: #79bda2;
  --darkerRose: #d9bd9c;
}

body {
  font-family: "Raleway", sans-serif;
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 78, 78, 0.644);
}

@media (min-width: 960px) {
  header img {
    height: 700px;
  }
}
@media (min-width: 1500px) {
  header img {
    height: 820px;
  }
}
