html {
  --lightBlue: #79bda2;
  --darkerBlue: #1a8692;
  --dark: #061f21;
  --green: #00504c;
  --darkerRose: #d9bd9c;
}

body {
  font-family: "Raleway", sans-serif;
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 70, 70, 0.651);
}

@media (min-width: 960px) {
  header img {
    height: 700px;
  }
}
@media (min-width: 1500px) {
  header img {
    height: 820px;
  }
}

.main-image {
  background-image: url(../img/main-travelphoto.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

/* aboutus.html */

.banner-about {
  height: 250px;
  background-image: url(../img/about/banner-about.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutus-banner-heading {
  letter-spacing: 0.15rem;
}

.img-second {
  max-height: 325px;
  text-align: center;
}

@media (min-width: 992px) {
  .main-special-text {
    transform: skew(-15deg);
  }
  .text-1 {
    position: relative;
    left: 55px;
  }
  .text-2 {
    position: relative;
    left: -55px;
  }
}

@media (min-width: 1200px) {
  .text-1 {
    left: 95px;
    line-height: 1.8rem;
  }
  .text-2 {
    left: -95px;
    line-height: 1.8rem;
  }
}
@media (min-width: 1400px) {
  .text-1 {
    left: 135px;
  }
  .text-2 {
    left: -135px;
  }
}

/* services.html */
.banner-services {
  height: 250px;
  background-image: url(../img/services/services-photo-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* destinations */
.banner-destinations {
  height: 250px;
  background-image: url(../img/destinations/destinations.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
